{% extends 'base.html' %}

{%block content%}
<form method = 'post' class = 'post-form'>
    {% csrf_token %}
    {% include 'error/form_error.html' %}
    <div class = 'form-group'>
        <label for = 'content'>답변내용</label>
        <textarea class = 'form-control' name ='content' id = 'content'
        rows = '10'>{{form.content.value|default_if_none:''}}</textarea>
    </div>
    <button type = 'submit' class = 'btn btn-primary'>저장하기</button>
    <a href="javascript:history.back()" class="btn btn-primary" >돌아가기</a>

</form>

{% endblock %}