{% extends 'base.html' %}

{% block content %}

  <!-- 사용오류메세지 -->
  {% if messages %}
  <div class = 'alert alert-danger my-3' rol= = 'alert'>
    {% for message in messages %}
      <strong>{{message.tags}}</strong>
      <ul><li>{{message.message}}</li></ul>
    {% endfor %}
  </div>
  {% endif %}

  <h2 class="border-bottom py-2">{{ question.subject }}</h2>
  <div class="card my-3">
    <div class="card-body">
      <div class="card-text" style="white-space: pre-line">{{ question.content }}</div>
      <div class="d-flex justify-content-end">
        {% if question.modify_date %}
        <div class = 'badge badge-light p-2 text-left mx-3'>
          <div class = 'mb-2'>modified at</div>
          <div>{{question.modify_date | date:'Y-m-d H:i:s'}}</div>
        </div>
        {% endif %}
        <div class="badge badge-light p-2">
          <div class="mb-2">{{ question.author.username }}</div>
          <div><i class="fas fa-clock"></i> {{ question.create_date }}</div>
        </div>
      </div>
      {% if request.user == question.author %}
      <div class="my-3">
        <a href="{% url 'pybo:question_modify' question.id %}"
        class="btn btn-sm btn-outline-secondary">수정</a>

        <a href = '#' class = 'delete btn btn-sm btn-outline-secondary'
        data-uri = "{% url 'pybo:question_delete' question.id %}">삭제</a>
        </div>
      {% endif %}
      {% include 'pybo/comment_list.html'%}
    </div>
  </div>
{% include 'pybo/answer_list.html'%}

{% endblock %}

{% block script %}

<script type = 'text/javascript'>
  $(document).ready(function(){
    $(".delete").on('click', function() {
      if(confirm("정말로 삭제하시겠습니까?")) {
      location.href = $(this).data('uri');
    }
  });
});
</script>

{% endblock %}


  
  <!-- {% comment %} <h1>{{question.subject}}</h1>

  <div>{{question.content}}</div>

  <h5>{{question.answer_set.count}}개의 답변이 있습니다.</h5>
  <div>
    <ul>
      {% for answer in question.answer_set.all %}
      <li>{{answer.content}}</li>
      {%endfor%}
    </ul>
  </div>

  <form action="{% url 'pybo:answer_create' question.id %}" method="post">
    {% csrf_token %}
    <textarea name="content" id="content" row="15"></textarea>
    <input type="submit" value="답변등록" />
  </form>
  
</div> {% endcomment %} -->
