

.jumbotron {
  background-image: url("image/abc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.login-form {
  max-width: 400px;
  margin :0 auto;
  padding: 40px 20px;
}

.avata-sm {
  width: 20px;
}